.main-content{
    background: #ffffff;
    flex: 1;
}


.block-container{
    height: 238px;
}

.blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
}

.block:nth-child(2n){
    margin-left: 15px;
}

.block{
    width: 182px;
    height: 182px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blue{
    background-color: #4EB9F4;
}

.green{
    background-color: #6FC125;
    padding-top: 11px;
}

.red{
    background-color: #FF5649;
    position: relative;
}

.orange{
    background-color: #E48F23;
}

.p-block{
    padding-top: 9px;
    font-size: 17px;
    color: #fff;
}

.red .p-block{
    opacity: 0.26;
}

.red img{
    padding-left: 9px;
}

.beer-text{
    position: absolute;
    font-size: 12px;
    color: #fff ;
    text-align: center;
}

.card-container{
    padding-top: 44px;
    display: flex;
    flex-direction: column;
    gap:79px;
    max-width: 946px;
    margin-left: 224px;
}

.card{
    display: flex;
    align-items: start;
    gap: 25px;
}

.card:last-child{
    padding-bottom: 79px;
}

.card img{
    width: 199px; 
    height: auto; 
}

.card .content-card{
    flex:1;
}

.card-title{
    margin-top: 0;
    font-size: 27px;
    color: #404040;
    padding-bottom: 15px;
}

.card-text{
    color: #404040;
    line-height: 22px;
    font-size: 15px;
}